@import "tailwindcss";
@plugin "@tailwindcss/typography";

.font-salted {
  font-family: var(--font-salted);
}

.font-neue {
  font-family: var(--font-neue);
}

.font-playfair {
  font-family: var(--font-playfair);
}

html,
body {
  -ms-overflow-style: hidden;
  scrollbar-width: none;
}

.img {
  @apply object-cover w-full h-full;
}

.scale-animation {
  @apply hover:scale-115 transition-all duration-700;
}

@keyframes floatitem {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float-item {
  animation: floatitem 5s ease-in-out infinite;
}

@keyframes rotateitem {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

.animate-rotate-item {
  animation: rotateitem 5s ease-in-out infinite;
}